@font-face{
    font-family:'BentonSans';src:url('../webfonts/Regular/49025c72-39e1-415f-8ced-4d1f41787ca6-2.eot?#iefix') format('embedded-opentype'),url('../webfonts/Regular/49025c72-39e1-415f-8ced-4d1f41787ca6-3.woff') format('woff'); font-weight:100;font-style:normal}

@import "reset";
@import "lib";
@import "effect";

html{
    height: 100%;
    width: 100%;
}
body{
	font: 100 12px/1.5 @english-font;
    overflow-x: hidden;
    width: 100%;

    &.horizontal{
        height: 100%;
    }
    &.black{
        background-color: #000;
    }

    color: @def;
}

a{
    color: @def;
}


section{
    &.sidebar{
        
        width: 136px;
        position: fixed;
        z-index: 2;
        left: 15px;
        top: 15px;

        div{
            background-color: #313131;
            border-radius: 2px;
            padding-bottom: 10px;
        }

        a{
            display: block;
           
            &:hover{
                text-decoration: none;
            }

            &.sign-in{
            }

            &.sign-up{
                margin-top: 6px;
            }
        }

        h1{
            font-size: 1.4em;
            font-weight: 400;
            a{
                color: @skyblue;
                padding: 10px 0 10px 20px;
                letter-spacing: 1px;
                text-shadow: 0 0 1px #000;
            }
        }

        p{
            a{
                padding: 10px 0 10px 20px;
                padding: 5px 0 5px 30px;
                color: @def-hover;
                border-top: 1px solid #3c3c3c;
                border-bottom: 1px solid #282828;
                .transition(all .3s ease);

                &:hover{
                    color: #fff;
                    background-color: #292929;
                    border-right: 3px solid skyblue;
                }
            }
        }

        span{
            background-color: rgba(0, 0, 0, 0.1);
            padding: 6px;
            display: block;
            margin-top: 10px;
            border-radius: 2px;
        }
    }


    &.container{
        position: absolute;
        left: 0;
        top:0;
        bottom: 31px;
        //height: 100%;
        background-color: #F0F0F0;
        width: 100%;
    }
}

footer{
    height: 30px;
    line-height: 30px;
    background-color: #272727;
    text-align: center;
    color: @def-hover;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div{
    &.wrapper{
        padding-bottom: 30px;
        width: 100%;
    }
    &.content{
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    &.plaza{
        width: 500px;
        float: left;
        height: 100%;
        position: relative;
        background: #000 url(../images/flipped.jpg) no-repeat;
        
        .plaza-info{
            color: #666;
            line-height: 1.2em;
            font-size: 1.2em;
            font-weight: 100;
            padding: 540px 20px 0;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .plaza-bg{
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
        }
    }


    &.metro{
        //height: 100%;
        margin-left: 501px;
        position: relative;
        //width: 3000px;

        ul{
            
            height: 100%;
           
        }

        li{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            .transition(opacity .4s linear);

            img{
                width: 100%;
                height: 100%;
            }

            a{
                width: 100%;
                height: 100%;
                display: block;

                figure{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    color: #fff;
                    font-size: 1.6em;
                    left: 0;
                    top: 0;
                    .transition(background-color .2s linear);
                }
                div{
                    &.metro-item{
                        position: relative;
                        height: 100%;
                        overflow: hidden;
                    }

                    &.item-info{
                        position: absolute;
                        bottom: -61px;
                        left: 0;
                        width: 100%;                        
                        color: #999;
                        .transition(bottom .3s linear);
                    }
                    
                }
                strong{
                    display: block;
                    margin: 0 10px;
                    padding-bottom: 10px;
                    line-height: 1em;
                    font-weight: 100;
                    font-size: 2em;
                }
                p{
                    border-top: 1px dotted #666;
                    font-size: 12px;
                    line-height: 1.2em;
                    font-weight: 100;
                    padding: 10px;
                    margin: 0 10px;
                    height: 40px;
                    overflow: hidden;
                }

                &:hover{
                    figure{
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    div.item-info{
                        color: #eee;
                        bottom: 0em;
                    }
                }
            }
        }
    }
}





















