@font-face{font-family:'BentonSans';src:url('../webfonts/Regular/49025c72-39e1-415f-8ced-4d1f41787ca6-2.eot?#iefix') format('embedded-opentype'),url('../webfonts/Regular/49025c72-39e1-415f-8ced-4d1f41787ca6-3.woff') format('woff');font-weight:100;font-style:normal;}html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,pre,form,p,blockquote,input,abbr,article,aside,figcaption,figure,footer,header,mark,meter,menu,nav,output,progress,section,summary,time{margin:0;padding:0;vertical-align:baseline;}
ul,ol{list-style:none;}
iframe,a,img,button{border:0;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
.fleft{float:left;}
.fright{float:right;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.hidden{display:none;}
.fix-width{width:960px;margin:0 auto;}
img{vertical-align:middle;}
.inline-block{display:inline-block;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.blue-btn{display:inline-block;padding:6px 10px;line-height:1em;text-align:center;color:#fff;background-color:#87ceeb;border-radius:2px;text-shadow:0px 0px 1px #333;}
.grey-btn{display:inline-block;padding:6px 10px;line-height:1em;text-align:center;color:#333;background-color:#cccccc;border-radius:2px;text-shadow:0px 0px 1px #fff;}
html{height:100%;}
body{font:100 12px/1.5 BentonSans,'Lucida Sans','Lucida Grande',sans-serif;color:#ffffff;}body.horizontal{height:100%;}
body.black{background-color:#000;}
a{color:#ffffff;}
section.sidebar{width:136px;position:fixed;z-index:2;left:15px;top:15px;}section.sidebar div{background-color:#313131;border-radius:2px;padding-bottom:10px;}
section.sidebar a{display:block;}section.sidebar a:hover{text-decoration:none;}
section.sidebar a.sign-up{margin-top:6px;}
section.sidebar h1{font-size:1.4em;font-weight:400;}section.sidebar h1 a{color:#87ceeb;padding:10px 0 10px 20px;letter-spacing:1px;text-shadow:0 0 1px #000;}
section.sidebar p a{padding:10px 0 10px 20px;padding:5px 0 5px 30px;color:#757575;border-top:1px solid #3c3c3c;border-bottom:1px solid #282828;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}section.sidebar p a:hover{color:#fff;background-color:#292929;border-right:3px solid skyblue;}
section.sidebar span{background-color:rgba(0, 0, 0, 0.1);padding:6px;display:block;margin-top:10px;border-radius:2px;}
section.container{position:absolute;left:0;top:0;bottom:31px;height:100%;background-color:#F0F0F0;}
footer{height:30px;line-height:30px;background-color:#272727;text-align:center;color:#757575;position:fixed;bottom:0;width:100%;}
div.wrapper{padding-bottom:30px;}
div.content{height:100%;overflow-x:scroll;overflow-y:hidden;}
div.plaza{width:500px;float:left;height:100%;background:#000000 url(../images/flipped.jpg) no-repeat;}
div.plaza-info{background-color:rgba(0, 0, 0, 0.2);color:#fff;line-height:1.4em;font-size:1.2em;font-weight:100;padding:540px 20px 0;opacity:0.4;}
div.metro{height:100%;margin-left:501px;position:relative;width:3000px;}div.metro ul{height:100%;}
div.metro li{position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.4s linear;-moz-transition:opacity 0.4s linear;-ms-transition:opacity 0.4s linear;-o-transition:opacity 0.4s linear;transition:opacity 0.4s linear;}div.metro li img{width:100%;height:100%;}
