// colors
@def: #fff;
@def-hover: #757575;
@skyblue: skyblue;
@grey: #ccc;


//font
@english-font: BentonSans, 'Lucida Sans', 'Lucida Grande', sans-serif;



//buttons
.blue-btn{
    display: inline-block;
    padding: 6px 10px;
    line-height: 1em;
    text-align: center;
    color: #fff;
    background-color: @skyblue;
    border-radius: 2px;
    text-shadow: 0px 0px 1px #333;
}

.grey-btn{
    display: inline-block;
    padding: 6px 10px;
    line-height: 1em;
    text-align: center;
    color: #333;
    background-color: @grey;
    border-radius: 2px;
    text-shadow: 0px 0px 1px #fff;
}
